[Unit]
Description=Transmitter Index

[Service]
WorkingDirectory=/home/pi/Projects/SerialExperimentsLAN/TransmitterIndex/
User=pi
Type=simple
ExecStart=/home/pi/Projects/SerialExperimentsLAN/TransmitterIndex/python3 /home/pi/Projects/SerialExperimentsLAN/TransmitterIndex/transmitter_index.py

[Install]
WantedBy=multi-user.target
